<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  </head>
  <body>
  	<div class="container">
    <h1><%= header %></h1>
    <p>Welcome to <%= description %></p>
	
    <form id="myform" method="POST" action="/todo" class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
    	<div class="form-group">
    		<label class="control-label" for="title">Title</label>
    		<input type="text" id="title" minlength="2" class="form-control" name="title" >
    	</div>
    	<div class="form-group">
    		<label class="control-label" for="description">Description</label>
    		<textarea id="description" minlength="2" class="form-control" name="description"></textarea>
    	</div>
    	<div class="form-group">
    		<label class="control-label" for="priority">Choose Priority Level</label>
    		<select name="priority" id="priority" class="form-control">
    			<option value="1">Red (highest priority)</option>
    			<option value="2">Orange</option>
    			<option value="3">Yellow</option>
    			<option value="4">Green</option>
    			<option value="5">Blue (lowest priority)</option>
    		</select>
    	</div>
			<div class="form-group">
				<label class="control-label" for="due_date" >Due Date</label>
				<input type="date" class="form-control" name="due_date" id="due_date">
			</div>
			<div class="checkbox">
				<label class="control-label" for="complete">
					<input type="checkbox" id="complete" name="complete">Check for Complete
				</label>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-default" id="button" value="Submit" name="submit">
			</div>
    </form>
    </div>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.js"></script>
    <script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
    <script src="javascripts/main.js"></script>
  </body>
</html>
